@import 'libs/vars';

.main {
	&-title {
		margin-top: 113px;

		&__title {
			text-align: center;
			color: $main-color;
			font-size: 35px;
			font-weight: 600;
			font-family: $poppins;
			line-height: 45px;
		}

		@media (min-width: 1024px) {
			& {
				margin-top: 87px;
			}

			&__title {
				color: $main-color;
				font-size: 60px;
				line-height: 78px;
			}
		}
	}

	.text-with-img {
		margin-top: 62px;

		&__content {
			display: flex;
			flex-direction: column;
			gap: 40px;
		}

		&__text {
			h2 {
				color: $main-color;
				text-align: center;
				font-size: 25px;
				font-family: $poppins;
				line-height: 32px;
			}

			p {
				color: $main-color;
				font-family: $montserrat;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				margin-top: 20px;
			}
		}

		&__img img {
			width: 100%;
		}

		@media (min-width: 1024px) {
			& {
				margin-top: 122px;
			}

			&__content {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}

			&__text {
				color: $main-color;
				font-family: $montserrat;
				width: 50%;
				padding-left: 74px;
			}

			&__img {
				width: 50%;
			}

			&__text {
				h2 {
					color: $main-color;
					font-family: $montserrat;
					text-align: left;
					font-size: 45px;
					line-height: 58px;
				}

				p {
					color: $main-color;
					font-family: $montserrat;
					font-size: 20px;
					line-height: 24px;
					margin-top: 20px;
				}
			}
		}
	}

	.information-list {
		margin-top: 80px;

		&__content {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding: 20px 18px;
			background-color: $light-blue;
			border-radius: 10px;

			h3 {
				color: $main-color;
				font-family: $montserrat;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
			}

			p {
				color: $main-color;
				font-family: $montserrat;
				font-size: 16px;
				line-height: 20px;
				margin-top: 10px;
			}
		}

		.sign-btn {
			margin-top: 55px;
			font-family: $montserrat;
			display: block;
			max-width: 330px;
			margin: 0 auto;
		}

		@media (min-width: 1024px) {
			& {
				margin-top: 174px;
			}

			&__content {
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;
				gap: 20px;
			}

			&__item {
				flex-direction: row;
				gap: 15px;
				padding: 20px 25px;
				width: 32.5%;

				h3 {
					color: $main-color;
					font-size: 25px;
					line-height: 30px;
				}

				p {
					color: $main-color;
					font-size: 18px;
					line-height: 22px;
					margin-top: 20px;
				}
			}

			.sign-btn {
				margin-top: 75px;
				max-width: 200px;
			}
		}
	}
}
