<footer class="footer">
	<section class="contacts">
		<div class="container">
			<div class="contacts__content">
				<div class="address-content">
					<div class="address-content__images">
						<img src="img/logo-reverse.png" />
						<img src="img/logo2.png" />
					</div>
					<div class="address-content__text">
						<p class="address-text__first-line">
							Powered by
							<span
								>Independent Pharmacy Cooperative</span
							>
						</p>
						<p class="address-text__second-line">
							1550 Columbus StreetSun Prairie, Wisconsin
							53590
						</p>
					</div>
				</div>
				<div class="download-content">
					<h3 class="download-content__title">
						Download the iCARE+ App
					</h3>
					<div class="download-content__download-block">
						<div class="download-block__img">
							<img src="img/iCarePlus-reverse.png" />
						</div>
						<div class="download-block__buttons-with-title">
							<h3 class="download-content__title-2">
								Download the iCARE+ App
							</h3>
							<div class="download-block__buttons">
								<a href="#" class="download-btn">
									<img src="img/app-store.png" />
									<div class="description_btn">
										<p>Download on the</p>
										<p class="name_btn">
											App Store
										</p>
									</div>
								</a>
								<a href="#" class="download-btn">
									<img src="img/google-play.png" />
									<div class="description_btn">
										<p>Download on the</p>
										<p class="name_btn">
											Google Play
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="copyright">
		<div class="container">
			<div class="copyright__content">
				<div class="content-links">
					<a href="#">Privacy Policy</a>
					<span>|</span>
					<a href="#">Terms and Conditions</a>
				</div>
				<div class="content-text">
					<p>© Copyright 2023. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</section>
</footer>