<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__navbar">
				<div class="navbar__logo">
					<img src="img/logo.png" alt="For Pharmacists" />
				</div>
				<ul class="navbar__links">
					<li><a href="#">For Pharmacists</a></li>
					<li><a href="#">For Providers</a></li>
					<li><a href="#">For Patients</a></li>
					<li><a href="#">For Employers</a></li>
					<li><a href="#">Integration Partners</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<a href="#" class="simple-btn login-btn">Login</a>
				<div class="toggle-btn">
					<i class="fa-solid fa-bars"></i>
				</div>
			</div>

			<div class="dropdown-menu">
				<li><a href="#">For Pharmacists</a></li>
				<li><a href="#">For Providers</a></li>
				<li><a href="#">For Patients</a></li>
				<li><a href="#">For Employers</a></li>
				<li><a href="#">Integration Partners</a></li>
				<li><a href="#">Contact</a></li>
				<a href="#" class="simple-btn login-btn">Login</a>
			</div>
		</div>
	</div>
</header>