* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: url("../img/pattern_3.svg") top right no-repeat,
        url("../img/pattern_4.svg") bottom left no-repeat;
    background-color: #f6fcff;
}

@media (min-width: 1024px) {
    body {
        background: url("../img/pattern_1.svg") top right no-repeat,
            url("../img/pattern_2.svg") bottom left no-repeat;
        background-color: #f6fcff;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #404448;
}

/* HEADER */
.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
}

.header__content {
    color: #404448;
    font-size: 18px;
    padding-top: 25px;
}

.navbar__logo img {
    max-width: 88px;
    max-height: 77px;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__links {
    display: none;
    padding: 0px 40px;
    row-gap: 5px;
    column-gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.toggle-btn {
    font-size: 1.5rem;
    cursor: pointer;
}

.simple-btn {
    text-align: center;
    background-color: #0f5174;
    color: white;
    padding: 13px 60px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.login-btn {
    display: none;
}

.simple-btn:hover {
    scale: 1.05;
}

.simple-btn:active {
    scale: 0.95;
}

.dropdown-menu {
    position: absolute;
    right: 20%;
    left: 20%;
    top: 7rem;
    height: 0px;
    width: unset;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 325px;
}

.dropdown-menu .simple-btn {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1024px) {
    .navbar__links {
        display: flex;
    }

    .login-btn {
        display: block;
    }

    .toggle-btn,
    .dropdown-menu {
        display: none;
    }

    .navbar__logo img {
        max-width: 126px;
        max-height: 100px;
    }
}

/* MAIN */
main {
    color: #054569;
}

/* main-title */

.main-title {
    margin-top: 113px;
}

.main-title__title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 45px;
}

@media (min-width: 1024px) {
    .main-title {
        margin-top: 87px;
    }

    .main-title__title {
        font-size: 60px;
        line-height: 78px;
    }
}

/* text-with-img */

.text-with-img {
    margin-top: 62px;
}

.text-with-img__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-with-img__text h2 {
    text-align: center;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
}

.text-with-img__text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

.text-with-img__img img {
    width: 100%;
}

@media (min-width: 1024px) {
    .text-with-img {
        margin-top: 122px;
    }

    .text-with-img__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text-with-img__text {
        width: 50%;
        padding-left: 74px;
    }

    .text-with-img__img {
        width: 50%;
    }

    .text-with-img__text h2 {
        text-align: left;
        font-size: 45px;
        line-height: 58px;
    }

    .text-with-img__text p {
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
    }
}

/* information-list */

.information-list {
    margin-top: 80px;
}

.information-list__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information-list__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 18px;
    background-color: #e7f5ff;
    border-radius: 10px;
}

.item-text h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.item-text p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

@media (min-width: 1024px) {
    .information-list {
        margin-top: 174px;
    }

    .information-list__content {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .information-list__item {
        flex-direction: row;
        gap: 15px;
        padding: 20px 25px;
        width: 32.5%;
    }

    .item-text h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .item-text p {
        font-size: 18px;
        line-height: 22px;
        margin-top: 20px;
    }
}

/* sign button */

.sign-btn-section {
    margin-top: 55px;
}

.sign-btn {
    display: block;
    max-width: 330px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .sign-btn-section {
        margin-top: 75px;
    }

    .sign-btn {
        max-width: 200px;
    }
}

/* FOOTER */

footer {
    background-color: #054569;
}

.contacts {
    margin-top: 150px;
    padding-top: 57px;
    padding-bottom: 77px;
    color: #ffffff;
}

.contacts__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 77px;
}

.address-content {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.address-content__images {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 48px;
}

.address-text__first-line {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
}

.address-text__first-line span {
    font-weight: 600;
}

.address-text__second-line {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.8px;
}

.download-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}

.download-content__title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #e2e3e8;
}

.download-content__download-block {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.download-block__buttons-with-title {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 25px;
}

.download-content__title-2 {
    display: none;
}

.download-block__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 25px;
}

.download-btn {
    background-color: #698ca933;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    border-radius: 21px;
    color: white;
    padding: 3px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.download-btn:hover {
    scale: 1.05;
}

.download-btn:active {
    scale: 0.95;
}

.description_btn p {
    font-family: "Poppins";
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
}

.description_btn .name_btn {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

@media (min-width: 1024px) {
    .contacts {
        margin-top: 180px;
        padding-top: 101px;
    }

    .contacts__content {
        flex-direction: row;
        column-gap: 20px;
        justify-content: space-between;
    }

    .address-content {
        width: 50%;
    }

    .download-content {
        justify-content: end;
    }

    .download-content__title-2 {
        display: block;
    }

    .download-content__title {
        display: none;
    }

    .download-block__buttons {
        flex-direction: row;
        align-items: end;
    }

    .download-btn {
        padding: 3px 10px;
    }

    .download-content__download-block {
        column-gap: 44px;
    }

    .address-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        column-gap: 5%;
    }
}

.copyright {
    background-color: #698ca933;
    color: #ffffffd9;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.copyright__content {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 26px;
}

.content-links a {
    color: #ffffffd9;
}

@media (min-width: 1024px) {
    .copyright {
        font-size: 16px;
        line-height: 19px;
    }

    .copyright__content {
        padding: 45px 0px;
        flex-direction: row;
        justify-content: space-between;
    }
}
